@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}

<div class="ui container fluid inverted vertical segment footer">
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui five column grid">
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <i class="dropbox icon"></i>
                                </div>
                                <div class="middle aligned content">
                                    <a class="header">Frete Grátis</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <i class="exchange icon"></i>
                                </div>
                                <div class="middle aligned content">
                                    <a class="header">7 dias para devoluções e trocas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <i class="money icon"></i>
                                </div>
                                <div class="middle aligned content">
                                    <a class="header">Pague Á Vista com desconto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <i class="payment icon"></i>
                                </div>
                                <div class="middle aligned content">
                                    <a class="header">12x Sem Juros no cartão de crédito</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <i class="gift icon"></i>
                                </div>
                                <div class="middle aligned content">
                                    <a class="header">Produtos originais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="ui four column stackable inverted equal height grid">
            <div class="ten wide table six wide computer column">
                <div class="ui grid stackable">
                    <div class="row two column no padding">
                        @Html.Action("CustomPages", "Home")
                    </div>
                </div>
            </div>

            <div class="six wide tablet four wide computer column">
                    
                @Html.Action("GetList", "EventList")
                <h4 class="ui inverted header">Central de Relacionamento</h4>
                <p>Preparada para esclarecer suas dúvidas e problemas.</p>
                <h5>SAC: @LojaCorp.Control.Company._Company.Phone1</h5>
            </div>
            

            <div class="six wide computer column left aligned">
                <h4 class="ui inverted header">SIGA NOS</h4>
                <div class="ui horizontal relaxed list social">

                    @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                    {
                        <a class="ui facebook icon button" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                            <i class="facebook icon"></i>
                        </a>
                    }
                    @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                    {
                        <a class="ui instagram icon button" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                            <i class="instagram icon"></i>
                        </a>
                    }
                    @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                    {
                        <a class="ui twitter icon button" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                            <i class="twitter icon"></i>
                        </a>
                    }
                    @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                    {
                        <a class="ui youtube icon button" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                            <i class="youtube icon"></i>
                        </a>
                    }
                    @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                    {
                        <a class="ui google plus icon button" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                            <i class="google plus icon"></i>
                        </a>
                    }



                </div>
                <div class="ui divider"></div>
                <h4>Newsletter</h4>
                <p>Cadastre seu e-mail e receba novidades e promoções.</p>
            </div>
        </div>

    </div>
</div>
<div class="ui container fluid inverted vertical segment subFooter">
    <div class="ui container">
        <div class="ui two column grid">
            <div class="row">
                <div class="column text small">
                    <p>@LojaCorp.Control.Company._Company.FantasyName</p>
                    <address>
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " "+LojaCorp.Control.Company._Company.Complement+", " : "";
                        }
                        @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood)
                       <br>
                       @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State)
                    </address>
                </div>
                <div class="right aligned column">
                    @* Page: ~/Views/Company/_EBit.cshtml *@
                    <div class="ui horizontal list">
                        <div class="item">
                            @Html.Action("EBit", "Company")
                        </div>
                        <div class="item">
                            <div class="ui tiny images">
                                @Html.Action("GetCompanySeal", "Company")
                            </div>
                        </div>
                    </div>
                    @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container fluid inverted vertical segment subFooter">
    <div class="ui container">
        <div class="ui one column grid">
            <div class="row">
               
                <div class="right aligned column dev">
                    <div class="ui horizontal list">
                        <div class="item">
                           <p>Desenvolvido por</p>
                        </div>
                        <div class="item">
                            <div class="ui tiny images">
                                <a href="http://ecommerceexpress.com.br/" target="_blank">
                                    <img src="https://blob.llimages.com/machine-user-images/img-987260-20180211141201.png">
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container fluid inverted vertical segment jetBrand">
    <div class="ui container">
        @Html.Partial("Common/_JetLogo")
    </div>
</div>

<div class="modal-block">

</div>